<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @edition.project_id %>
</p>

<p>
  <b>Creator:</b>
  <%= @edition.creator_id %>
</p>

<p>
  <b>Project version:</b>
  <%= @edition.project_version %>
</p>

<p>
  <b>Pages:</b>
  <%= @edition.pages %>
</p>

<p>
  <b>Name:</b>
  <%= @edition.name %>
</p>

<p>
  <b>Intro:</b>
  <%= @edition.intro %>
</p>