<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @project.creator_id %>
</p>

<p>
  <b>Updater:</b>
  <%= @project.updater_id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Intro:</b>
  <%= @project.intro %>
</p>

<p>
  <b>Subdomain:</b>
  <%= @project.subdomain %>
</p>
<%#= content_tag :ol, raw([(content_tag(:li ,"yes"))].join) %>
<!--%w(#{raw concat()}) #{concat(content_tag(:li ,"world"))} -->
<%#= nested_ordered_list @project.pages %>
<%= nested_ordered_list @project, @project.pages.arrange(:order => :created_at)  %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
