<div class="page-header">
	<h1><%= title @project.name %> <small>Basic templates to create webpages</small></h1>
</div>
<%= clearfix %>
<div class="primary">
	<table class="basic">
		<tr>
			<td class="field">Name</td>
			<td><%= @project.name %> <%= link_to 'Edit', edit_project_path(@project) %></td>
		</tr>
		<tr>
			<td class="field">Creator</td>
			<td><%= @project.creator.name %></td>
		</tr>
		<% if @project.updater_id? %>
		<tr>
			<td class="field">Last updated by</td>
			<td><%= @project.updater.name %></td>
		</tr>
		<% end %>
		<tr>
			<td class="field">Intro</td>
			<td><%= simple_format @project.intro %></td>
		</tr>
		<tr>
			<td class="field">Created at</td>
			<td><%= l @project.created_at, :format => :us %></td>
		</tr>
	</table>
</div>
<div class="secondary">
	<h2>Edtions</h2>
	<ul>
		<li><%= cta @edtion.name, [@project, @edtion] if @edtion %></li>
		<li><%= link_to "Trunk", trunk_project_path %></li>
	</ul>
</div>