<%= render "projects/header" %>

<div class="fluid">
	<div class="secondary">
		<div class="wrapper">
			<h2><%= @page.title %><%= content_tag :sup, @page.version, :class => :version, :title => "Version: #{@page.version}" %></h2>
			<% if user_signed_in? && current_user.owns?(@page, :column => :creator_id) && controller.action_name != "show_edition_page" %>
			<%= link_to "Edit", edit_project_page_path(@project, @page) %> | <%= link_to "Destroy", [@project, @page], :method => :delete, :confirm => "Are you sure?" %>
			<% end %>
			<div class="body"><%= @page.body %></div>
		</div>
	</div>
	
	<div class="primary">
		<div class="pages-list">
			<%= nested_ordered_list @project, @pages, (@edition || nil) %>
		</div>
	</div>
</div>