<div class="page-header">
	<h1><%= title "Latte | The tasty coffee for designers", :sitename => false %></h1>
</div>
<p>Latte is a quick and dirty implementation of the Product Design Document (PDD) concept. It helps designers produce PDD automagically.</p>

<p>PDD, as a methodology developed and introduced to public by <%= link_to "Felix Ding", "http://dingyu.me/" %> in 2009, is a new way for organizing design documents. It combines Use Cases, Flowcharts and Wireframes altogether beautifully, making the reading experience much more pleasant comparing with traditional PRD/MRD.  Check out <%= link_to "http://dingyu.me/blog/product-design-document", "http://dingyu.me/blog/product-design-document" %> for more information.</p>

<p>Latte is a open source software, fork it on <%= link_to "Github", "https://github.com/felixding/latte" %>!</p>

<p>The logo icon is from <%= link_to "http://www.iconfinder.com/icondetails/49740/128/coffee_drink_food_icon", "http://www.iconfinder.com/icondetails/49740/128/coffee_drink_food_icon" %>.</p>