<%= form_for(@edtion) do |f| %>
  <% if @edtion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edtion.errors.count, "error") %> prohibited this edtion from being saved:</h2>

      <ul>
      <% @edtion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br />
    <%= f.number_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :project_version %><br />
    <%= f.number_field :project_version %>
  </div>
  <div class="field">
    <%= f.label :pages %><br />
    <%= f.text_area :pages %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :intro %><br />
    <%= f.text_area :intro %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
