<h1>Listing edtions</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Creator</th>
    <th>Project version</th>
    <th>Pages</th>
    <th>Name</th>
    <th>Intro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @edtions.each do |edtion| %>
  <tr>
    <td><%= edtion.project_id %></td>
    <td><%= edtion.creator_id %></td>
    <td><%= edtion.project_version %></td>
    <td><%= edtion.pages %></td>
    <td><%= edtion.name %></td>
    <td><%= edtion.intro %></td>
    <td><%= link_to 'Show', edtion %></td>
    <td><%= link_to 'Edit', edit_edtion_path(edtion) %></td>
    <td><%= link_to 'Destroy', edtion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Edtion', new_edtion_path %>
