<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @edtion.project_id %>
</p>

<p>
  <b>Creator:</b>
  <%= @edtion.creator_id %>
</p>

<p>
  <b>Project version:</b>
  <%= @edtion.project_version %>
</p>

<p>
  <b>Pages:</b>
  <%= @edtion.pages %>
</p>

<p>
  <b>Name:</b>
  <%= @edtion.name %>
</p>

<p>
  <b>Intro:</b>
  <%= @edtion.intro %>
</p>