<div id="header">
	<div class="wrapper">
		<div id="logo"><%= link_to "Latte", root_path %></div>

		<div id="navigation">
			<% if user_signed_in? %>
			<% else %>
			<%= link_to "Home", root_path, :class => current_or_null(controller.controller_name == "static" && controller.action_name == "index") %>
			<% end %>
		</div>

		<div id="user-bar">
			<% if user_signed_in? %>
		    	<!-- Signed in as <%= current_user.email %>. Not you?     -->
		    	<%= link_to "Profile", edit_user_registration_path, :class => current_or_null(controller.controller_name == "users" && controller.action_name == "edit") %>
		    	<%= link_to "Log out", destroy_user_session_path, :method => 'delete' %>
			<% else %>
				<%#= link_to "Sign up for free", new_user_registration_path, :id => :sign_up, :class => current_or_null(controller.controller_name == "users" && (controller.action_name == "new" || controller.action_name == "create")) %>
				<%= link_to "Log in", new_user_session_path, :id => :login, :class => current_or_null(controller.controller_name == "sessions" && controller.action_name == "new") %>
			<% end %>
		</div>
		<!-- 
		<% if user_signed_in? %>
		<%# if current_user.role?(:pro) %>
			only pro can see me
		<%# elsif current_user.role?(:standard) %>
			only standard can see me
		<%# end %>
		<% end %>
		-->
	</div>
</div>